* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  position: flex;
  z-index: 1;
}
body {
  margin-top: 0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 5rem;
  padding: 1rem 0;
}
.word {
  position: absolute;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.475);
  top: 300px;
  left: 300px;
  z-index: 1;
  text-decoration: none;
}
.werm {
  position: absolute;
  top: -20px;
  left: 35px;
  height: 98px;
  width: 98px;
  z-index: 5;
}

.box1 {
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100;
  background-color: rgba(0, 0, 0, 0.185);

  vertical-align: top;
  z-index: 2;
  animation-name: box1;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 3;
  animation-name: nav;
  animation-duration: 7.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  top: 6px;
  right: 50px;
}

.nav-selectors {
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.nav-link {
  display: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-right: 5px;
}

.nav-link:hover {
  color: white;
  background-color: rgb(69, 71, 81);
}

main {
  min-height: 80vh;
}
.bg {
  width: max-content;
  height: max-content;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  top: -150px;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: optimizeQuality;
  image-rendering: crisp-edges;
  z-index: 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}

Header .rating span {
  margin: 0.1rem;
}
.productbox {
  margin: 16px auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.productbox li {
  display: inline-block;
  flex: 1 1 12em;
  border: 2px solid #6f0212;
  border-radius: 25px;
  margin: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.productbox a {
  display: block;
  text-decoration: none;
  padding: 8px;
  height: 100%;
  width: 100%;
}
.productbox img {
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
}
