* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  position: flex;
  z-index: 1;
}
body {
  margin-top: 0;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

h1 {
  font-size: 5rem;
  padding: 1rem 0;
}

/* //////////////////////          LANDING PAGE   //////////////////////////////////// */
.word {
  position: absolute;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.475);
  top: 300px;
  left: 300px;
  z-index: 1;
  text-decoration: none;
}
.werm {
  position: fixed;
  top: -15px;
  left: -15px;
  height: 98px;
  width: 98px;
  z-index: 5;
}

.box1 {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: rgba(58, 60, 63, 0.24);

  vertical-align: top;
  z-index: 2;
  animation-name: box1;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 3;
  animation-name: nav;
  animation-duration: 7.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  top: 6px;
  right: 50px;
}

.nav-selectors {
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.nav-link {
  display: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-right: 5px;
}

.nav-link:hover {
  color: white;
  background-color: rgb(69, 71, 81);
}

.bg {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  position: fixed;
  width: 100vw;
  height: 120vh;
  top: -90px;
  background-repeat: repeat;
  /* background-size: auto; */
  image-rendering: optimizeQuality;
  image-rendering: crisp-edges;
  /* z-index: 0; */
  /* width: fit-content; */
  /* margin: 0 auto; */
  /* height: fit-content; */
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}

/* //////////////////////          Home Page   //////////////////////////////////// */

.pcol {
  position: relative;
  float: left;
  top: 40px;
}

.productbox {
  margin-left: 120px;
  margin-top: 50px;
  flex: 1 1 12em;
  /* border: 2px solid #6f0212; */
  border-radius: 25px;
  /* margin: 10px; */
  object-fit: 100%;
  position: inherit;
}

.productbox img {
  display: flex;
  /* width: 5vw;
  height: 11vh; */
  max-width: 20vw;
  max-height: 17.5vh;
  /* z-index: 3; */
  margin: 6px;
  /* border-radius: 20px; */
  float: right;
  justify-content: center;
  animation-name: cover;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes cover {
  0% {
    opacity: 0;
    color: #00000000;
  }
  10% {
    opacity: 0;
    color: #00000000;
  }
  100% {
    opacity: 1;
    color: #000;
  }
}
/* //////////////////////          Product page   //////////////////////////////////// */
.productimg1 {
  position: relative;
  top: -50px;
  left: 10px;
  height: 650px;
  width: 650px;
  float: left;
}

.itemname {
  position: relative;
  font-size: 60px;
  bottom: 20px;
  margin-left: 10px;
}
.artistname {
  position: relative;
  font-size: 40px;
  bottom: 55px;
  margin-left: 15px;
}

.btn1 {
  background-color: #71787e8d;

  color: white;
  padding: 20px 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: -640px;
  top: 605px;
}

.btn2 {
  background-color: #71787e8d;
  color: white;
  padding: 20px 73px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: -630px;
  top: 605px;
}

.btn3 {
  background-color: #71787e8d;
  color: white;
  padding: 20px 73px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  left: -620px;
  top: 605px;
}
